<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688102306104-03dm0tjej7dio14n7rdsl7ark6kaide7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688102306104-03dm0tjej7dio14n7rdsl7ark6kaide7</string>
	<key>API_KEY</key>
	<string>AIzaSyCQevD4jOO4BCGOHAj6xt-M1vZwELmSZLY</string>
	<key>GCM_SENDER_ID</key>
	<string>688102306104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SergiuApps.Social-Network</string>
	<key>PROJECT_ID</key>
	<string>social-network-6b715</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-6b715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:688102306104:ios:41d5386fa23aac5c</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-6b715.firebaseio.com</string>
</dict>
</plist>